# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production Builds
dist/
client/dist/
build/

# Environment Variables & Secrets (Keep private)
.env
server/.env
*.env.local

# Logs & Databases
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
mongodb_data/

# OS Metadata
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
